.loader-container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
  text-align: center;
}
.profile-container {
  position: absolute;
  top: 72px;
  margin: 20px;
  margin-left: 200px;
  max-width: 1040px;
}
.profile-pic {
  width: 180px;
  height: 180px;
  top: 97px;
  left: 200px;
  gap: 0px;
  border-radius: 90px;
  opacity: 0px;
}
profile-list {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.bio-details-container {
  margin-left: 44px;
}
.profile-username {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
}
.profile-userid {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.profile-bio {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.profile-story-image {
  width: 86px;
  height: 86px;
  top: 341px;
  left: 554px;
  gap: 0px;
  border-radius: 50%;
  opacity: 0px;
  border: 1px solid #dbdbdb;
}
.profile-story {
  padding: 0%;
  display: flex;
}
.profile-hr {
  width: 1040px;
  height: 0px;
  top: 459px;
  left: 200px;
  gap: 0px;
  border: 0.5px 0px 0px 0px;
  opacity: 0px;
}
.profile-post-title {
  width: 98px;
  height: 32px;
  top: 491px;
  left: 200px;
  gap: 0px;
  opacity: 0px;
  color: #262626;
}
.profile-post- {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-left: 10px;
  align-items: center;
}
.profile-post-image {
  width: 330px;
  height: 330px;
  left: 200px;
  top: 547px;
  opacity: 0px;
}
.camera-circle {
  width: 86px;
  height: 86px;
  top: 522px;
  left: 677px;
  gap: 0px;
  border-radius: 43px;
  border: 2px solid #262626;
  opacity: 0px;
}
.no-post {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  text-align: left;
}
.story-container {
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 45px;
  height: 86px;
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.no-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  font-family: Roboto;
  text-align: center;
}

.no-results-img {
  height: 409px;
  width: 500px;
  left: 470px;
  top: 244px;
  border-radius: 0px;
}

.no-results-heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #262626;
}

.no-results-para {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #989898;
}
.list-inline {
  display: inline;
}
.profile-post-ul {
  padding: 0%;
}
.count-container {
  display: flex;
  padding: 0%;
  gap: 20px;
}
