@media screen and (max-width: 767px) {
  .large-device {
    display: none;
  }
  .mobile_container {
    
    width: 90%;
    margin: 0 auto 10px auto;
    font-family: Roboto;
  }

  .login-website-logo-image {
    height: 28px;
    width: 55px;
    left: 24px;
    top: 24px;
    border-radius: 0px;
  }
  .title_heading {
    height: 24px;
    left: 91px;
    top: 26px;
  }

  .title_div {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .top_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburgerButton {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
  }

  .hamburgerIcon {
    height: 24px;
    width: 24px;
    left: 312px;
    top: 26px;
    border-radius: 0px;
  }

  .links_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav_bar {
    list-style: none;
    display: flex;
    gap: 25px;
    padding-left: 0;
  }
  .nav_bar li {
    font-weight: 500;
  }
  .nav_item {
    text-decoration: none;
  }

  .logout_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    width: 60px;
    height: 32px;
    background: #4094ef;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-style: none;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
  }

  .hamburgerIcon {
    font-size: 20px;
  }

  a {
    color: #262626;
    font-weight: 500;
    text-decoration: none;
  }

  a:active,
  a:focus {
    color: #4094ef;
    font-weight: 500;
  }

  .search_div {
    width: 100%;
    height: 34px;
    left: 781px;
    top: 18px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .searchBar {
    width: 90%;
    background-color: transparent;
    border-style: none;
    outline: none;
    padding: 5px;
    font-family: Roboto;
  }
  .searchButton {
    background: #dbdbdb;
    border-radius: 0px 2px 2px 0px;
    border-style: none;
    width: 34px;
  }
  .searchIcon {
    color: #989898;
  }
}
a {
  text-decoration: none;
}
.header-ul {
  list-style-type: none;
  width: fit-content;
}
.hr {
  position: absolute;
  width: 1440px;
  height: 1px;
  left: 0px;
  top: 65px;
  background: #dbdbdb;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.nav-bar {
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 200px;
}
.home {
  position: absolute;
  width: 38px;
  height: 18px;
  left: 1027px;
  top: 23px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;

  color: #4094ef;
}
.profile {
  position: absolute;
  width: 41px;
  height: 18px;
  left: 1081px;
  top: 23px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  color: #262626;
}
.logout {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;

  width: 86px;
  height: 32px;

  background: #4094ef;
  border-radius: 4px;

  flex: none;
  order: 0;
  flex-grow: 0;

  top: 16px;
  left: 1154px;

  opacity: 0px;
}
.header-logo-container {
  position: absolute;
  width: 173px;
  height: 30px;
  top: 17px;
  left: 200px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: baseline;
}
.s-i-cont {
  width: 34px;
  height: 26px;
  left: 960px;
  top: 19px;

  background: #dbdbdb;
  border-radius: 0px 2px 2px 0px;
}
.header-logo {
  left: 13.89%;
  right: 82.01%;
  top: 26.56%;
  bottom: 26.56%;

  width: 59px;
  height: 30px;

  gap: 0px;
  opacity: 0px;
}
.header-logo-name {
  width: 102px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  margin-left: 70px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;

  left: 50.82%;
  right: 74.1%;
  top: 31.25%;
  bottom: 31.25%;
  color: #262626;
}
.header-search-container {
  position: absolute;
  width: 214px;
  height: 28px;
  top: 18px;
  left: 781px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.search-icon {
  width: 10px;
  height: 10px;
  top: 27px;
  left: 972px;
  gap: 0px;
  opacity: 0px;
  border-radius: 0px 2px 2px 0px;
  background-color: #dbdbdb;
  color: #989898;
}
.header-search-input {
  width: 214px;
  height: 28px;
  top: 18px;
  left: 781px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.justify-content-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile_container {
  display: none;
}
.black {
  color: #262626;
}
.blue {
  color: #4094ef;
}
